{%- liquid
  assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
  assign current_selling_plan_allocation = current_variant.selected_selling_plan_allocation

  if current_selling_plan_allocation == nil and current_variant.requires_selling_plan
    assign current_selling_plan_allocation = current_variant.selling_plan_allocations | first
  endif
-%}

<div class="main-product__actions"{% if block %} {{ block.shopify_attributes }}{% endif %}>
  <product-form class="main-product__form" data-product-id="{{- product.id -}}">
    <div class="main-product__form-error-message-wrapper" role="alert" hidden>
      {%- render 'icon-error' -%}

      <span class="main-product__form-error-message"></span>
    </div>

    {%- assign form_class = 'main-product__form-form' -%}

    {%- if block -%}
      {%- if block.settings.quantity_type == 'inline' -%}
        {%- assign form_class = form_class | append: ' main-product__form-form--inline' -%}
      {%- endif -%}
    {%- else -%}
      {%- assign form_class = form_class | append: ' main-product__form-form--inline' -%}
    {%- endif -%}

    {%- form 'product', product, id: product_form_id, class: form_class, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
      <input type="hidden" name="selling_plan" value="{{- current_selling_plan_allocation.selling_plan.id | default: '' -}}">

      {%- unless block -%}
        <input type="hidden" name="return_to" value="/checkout" disabled>
      {%- endunless -%}

      {%- if block -%}
        {%- if product.selling_plan_groups.size > 0 -%}
          <noscript class="main-product__form-noscript-variants">
            <div class="main-product__form-input">
              <label
                class="main-product__form-label medium p2 p2--fixed"
                for="No-Script-Selling-Plans-{{- section.id -}}"
              >
                {{- 'products.product.selling_plan_groups.title' | t -}}
              </label>

              <div class="select">
                <select name="selling_plan" id="No-Script-Selling-Plans-{{- section.id -}}">
                  {%- unless product.requires_selling_plan -%}
                    <option value="">One-time purchase</option>
                  {%- endunless -%}

                  {%- for selling_plan_group in product.selling_plan_groups -%}
                    <optgroup label="{{- selling_plan_group.name -}}">
                      {%- for selling_plan in selling_plan_group.selling_plans -%}
                        <option value="{{- selling_plan.id -}}"{% if selling_plan.selected %} selected{% endif %}>
                          {{- selling_plan.options[0].value -}}
                        </option>
                      {%- endfor -%}
                    </optgroup>
                  {%- endfor -%}
                </select>

                {%- render 'icon-chevron' -%}
              </div>
            </div>
          </noscript>
        {%- endif -%}
      {%- endif -%}

      {%- assign show_quantity = false -%}

      {%- if block -%}
        {%- if block.settings.show_quantity -%}
          {%- assign show_quantity = true -%}
        {%- endif -%}
      {%- elsif product.requires_selling_plan == false -%}
        {%- assign show_quantity = true -%}
      {%- endif -%}

      {%- if show_quantity -%}
        <div class="main-product__form-quantity">
          <label
            class="main-product__form-label p2 p2--fixed{% if block %}{% unless block.settings.show_quantity_label %} visually-hidden{% endunless %}{% endif %}"
            for="Quantity-{{- section.id -}}"
          >
            {{- 'products.product.quantity.label' | t -}}
          </label>

          <quantity-input class="quantity">
            <button class="quantity__button no-js-hidden" name="minus" type="button">
              <span class="visually-hidden">
                {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
              </span>

              {% render 'icon-minus' %}
            </button>

            <input
              class="quantity__input"
              type="number"
              name="quantity"
              id="Quantity-{{- section.id -}}"
              min="1"
              value="1"
              form="{{- product_form_id -}}"
            >

            <button class="quantity__button no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">
                {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
              </span>

              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
      {%- endif -%}

      <div class="main-product__form-buttons">
        {%- assign show_add_button = false -%}

        {%- if block -%}
          {%- assign show_add_button = true -%}
        {%- else -%}
          {%- unless product.requires_selling_plan -%}
            {%- assign show_add_button = true -%}
          {%- endunless -%}
        {%- endif -%}

        <div class="main-product__form-buttons-main">
          {%- if show_add_button -%}
            <button
              type="submit"
              name="add"
              class="main-product__form-submit button button--small{% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %} button--secondary{% elsif block == nil and settings.enable_fast_checkout %} button--secondary{% endif %}"
              {% if product.selected_or_first_available_variant.available == false %}disabled="disabled"{% endif %}
            >
              <span class="button__text">
                {%- if product.selected_or_first_available_variant.available -%}
                  {{- 'products.product.add_to_cart' | t -}}
                {%- else -%}
                  {{- 'products.product.sold_out' | t -}}
                {%- endif -%}
              </span>

             {% comment %} {%- render 'icon-chevron' -%} {% endcomment %}
            </button>
          {%- else -%}
            <a href="{{- product.url -}}" class="main-product__form-submit button button--small">
              <span class="button__text">
                {{- 'products.product.quickview.view_subscriptions' | t -}}
              </span>

              {%- render 'icon-chevron' -%}
            </a>
          {%- endif -%}

          {%- if block and settings.enable_wishlist and settings.wishlist_page != blank -%}
            <wishlist-button
              data-product-handle="{{- product.handle -}}"
              data-remove-text="{{- 'products.product.wishlist.remove' | t -}}"
              data-add-text="{{- 'products.product.wishlist.add' | t -}}"
              class="main-product__wishlist-button hidden"
              style="display: block;"
            >
              <button type="button" class="button-icon button-icon--wishlist button-icon--transparent">
                {%- render 'icon-heart' -%}
                {%- render 'icon-heart-fill' -%}
              </button>
            </wishlist-button>
          {%- endif -%}
        </div>

        {%- if block == nil and settings.enable_fast_checkout -%}
          <button
            type="button"
            data-fast-checkout
            class="main-product__form-submit button button--small no-js-hidden"
            {% if product.selected_or_first_available_variant.available == false %}disabled="disabled"{% endif %}
          >
            <span class="button__text">
              {{- 'products.product.quickview.buy_now' | t -}}
            </span>

            {%- render 'icon-chevron' -%}
          </button>
        {%- endif -%}

        {%- if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty -%}
          {{- form | payment_button -}}
        {%- endif -%}
      </div>
    {%- endform -%}
    
  </product-form>

  <div class="main-product__form-buttons">
  </div>
  <!-- Swym button on product pages -->
         <div class="swym-wishlist-button-bar"></div>
   <!-- Swym button on product pages -->
</div>
